@model Moov2.Orchard.Featured.Models.FeaturedPart

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.IsFeatured)
        <label for="@Html.FieldIdFor(m => m.IsFeatured)" class="forcheckbox">@T("Set as featured")</label>
    </span>
    <span class="hint">@T("Check to promote this content as featured.")</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Weight)">@T("Weight")</label>
    @Html.TextBoxFor(m => m.Weight, new { @class = "text", type = "number" })
    <span class="hint">@T("Used to determine display order, where lowest is displayed first.")</span>
</fieldset>